<!DOCTYPE html>
<html lang="en">

<head>
  <title>blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .hero-image {
      background-image: linear-gradient(rgba(232, 141, 141, 0.5), rgba(54, 37, 37, 0.5)), url("contact-bg.jpg");
      height: 90%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand">web322 </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#Home">Home</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/registration">Register</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/read_more">read_more</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/addArticle">Add Article</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/articles">Edit Article</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="hero-image" img>
    <div class="hero-text">
      <h1 style="font-size:50px"></h1>

    </div>
  </div>


  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="assets/contact-bg.jpg" alt="" width="1600" height="100">
    <div class="w3-display-left w3-padding-large">
    </div>

  </header>
  {{!-- <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="blog.html">web322</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#Home">Home</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/registration">Register</a></li>
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/read_more">read_more</a></li>
        </ul>
      </div>
    </div>
  </nav> --}}
  <!--Navigation-->
  <main>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-90">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              {{#each articles}}
              <center>
                <div class="card-body" style="width: 38rem" ;>
                  <div class="card shadow-sm">
                    <h2 class="post-title">{{this.Title}}</h2>
                    <p class="post-subtitle">{{this.Content}}</p>
                    <p class="card-text">{{this.Date}}</p>
                    <hr />
                    <img src="{{this.Image}}" alt="image" class="bd-placeholder-img card-img-top" width="auto"
                      height="auto">
                    <title>Placeholder</title>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <form action="/articles" method="post">
                          <tr>
                            <td><a href="/articles?id={{id}}">{{id}}</a></td>
                            <td><a href="/articles?Image={{id}}">{{Image}}</a></td>
                            <td><a class="btn btn-sm btn-outline-secondary" href="/articles/delete/{{id}}"> remove </a>
                            </td>
                            <td class="text-right"><a class="btn btn-sm btn-outline-secondary"
                                href="/articles/update/{{id}}"> edit </a></td>

                          </tr>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </center>
            {{/each}}

            <h3 style="text-align: center;">Thank you for registering</h3>
            <p class="bd-lead" margin-right: 10rem>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quod, molestiae maiores corrupti alias repellendus aut aliquid delectus ad cupiditate est,
              mollitia iste natus quaerat. Porro ad autem laudantium incidunt ut!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus molestias obcaecati ex enim
              tempora quisquam id minima quos quia. Hic exercitationem odio impedit dolorum eligendi
              necessitatibus doloribus consequuntur tempore expedita?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ullam amet assumenda commodi modi.
              Impedit illo labore accusamus aliquam distinctio, nemo deserunt. Aliquid magnam corporis ea
              repudiandae explicabo sequi rerum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eligendi maxime ad excepturi
              facere blanditiis illum velit tempora ipsa molestiae quaerat laborum, provident et? Aliquam
              obcaecati maiores placeat aspernatur magnam!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptate harum quia quasi fugit
              quod nostrum ipsam unde possimus odio. Inventore, maiores exercitationem? Quas inventore tempora,
              nemo consequatur praesentium voluptatem.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fugit. Ut, incidunt sit. Modi
              esse saepe accusantium consequatur fuga incidunt provident rerum et quas vero! Sed excepturi sit
              laudantium eum?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam asperiores sunt. Nulla,
              iusto tempore praesentium suscipit voluptates quod quos voluptate maxime veritatis voluptas, ex
              natus eligendi odit delectus quisquam?</p>
            <h3>BIG WELCOME</h3>
            <p class="bd-lead" margin-right: 10rem>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quod, molestiae maiores corrupti alias repellendus aut aliquid delectus ad cupiditate est,
              mollitia iste natus quaerat. Porro ad autem laudantium incidunt ut!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus molestias obcaecati ex enim
              tempora quisquam id minima quos quia. Hic exercitationem odio impedit dolorum eligendi
              necessitatibus doloribus consequuntur tempore expedita?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ullam amet assumenda commodi modi.
              Impedit illo labore accusamus aliquam distinctio, nemo deserunt. Aliquid magnam corporis ea
              repudiandae explicabo sequi rerum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eligendi maxime ad excepturi
              facere blanditiis illum velit tempora ipsa molestiae quaerat laborum, provident et? Aliquam
              obcaecati maiores placeat aspernatur magnam!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptate harum quia quasi fugit
              quod nostrum ipsam unde possimus odio. Inventore, maiores exercitationem? Quas inventore tempora,
              nemo consequatur praesentium voluptatem.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fugit. Ut, incidunt sit. Modi
              esse saepe accusantium consequatur fuga incidunt provident rerum et quas vero! Sed excepturi sit
              laudantium eum?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam asperiores sunt. Nulla,
              iusto tempore praesentium suscipit voluptates quod quos voluptate maxime veritatis voluptas, ex
              natus eligendi odit delectus quisquam?</p>
            <h3>BIG WELCOME</h3>
            <p class="bd-lead" margin-right: 10rem>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quod, molestiae maiores corrupti alias repellendus aut aliquid delectus ad cupiditate est,
              mollitia iste natus quaerat. Porro ad autem laudantium incidunt ut!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus molestias obcaecati ex enim
              tempora quisquam id minima quos quia. Hic exercitationem odio impedit dolorum eligendi
              necessitatibus doloribus consequuntur tempore expedita?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ullam amet assumenda commodi modi.
              Impedit illo labore accusamus aliquam distinctio, nemo deserunt. Aliquid magnam corporis ea
              repudiandae explicabo sequi rerum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eligendi maxime ad excepturi
              facere blanditiis illum velit tempora ipsa molestiae quaerat laborum, provident et? Aliquam
              obcaecati maiores placeat aspernatur magnam!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptate harum quia quasi fugit
              quod nostrum ipsam unde possimus odio. Inventore, maiores exercitationem? Quas inventore tempora,
              nemo consequatur praesentium voluptatem.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, fugit. Ut, incidunt sit. Modi
              esse saepe accusantium consequatur fuga incidunt provident rerum et quas vero! Sed excepturi sit
              laudantium eum?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam asperiores sunt. Nulla,
              iusto tempore praesentium suscipit voluptates quod quos voluptate maxime veritatis voluptas, ex
              natus eligendi odit delectus quisquam?</p>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </section>
  </main>
  </main>
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>